* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #F4F4F9;
    color: #33372C;
    line-height: 1.6;
    font-family: 'Fauna One', serif;

}
h1, h2{
    /*font-family: "Space Mono", monospace;*/
    font-family: Cinzel, serif;

}
h2 {
    border-bottom: 3px #33372C solid;

}

p, label, td {
    font-weight: bold;
    font-size: 1em;
}



/*start of header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(85,124,86);
    background: linear-gradient(0deg, rgba(85,124,86,1) 0%, rgba(51,55,44,1) 88%);
    box-shadow: 2px 2px 3px #33372C;
    /*height: 14vh;*/
    /*padding: 10px;*/

}

.logo-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo-image {
    height: 100px;
    margin-right: 15px;
}

h1 {
    font-size: 2rem;
    color: white;
    letter-spacing: 5px;

}

.btn-header-container {

    display: flex;
    align-self: flex-end;

}

.main-logIn-btn, .main-SingIn-btn {
    background: #33372C;
    /*margin: 0;*/
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    /*border-radius: 25px;*/
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.5s ease;


}
.main-logIn-btn{
    border-top-right-radius: 20px;
}
.main-SingIn-btn{
    border-top-left-radius: 20px;
}


.main-logIn-btn:hover, .main-SingIn-btn:hover {
    background: #1b1e18;
}

/*end of header*/



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    background: url("../photos/greenAnimals.jpg") center;
    background-size: cover;

    /*background: url("../photos/greenAnimals.jpg") center;*/
    /*background-size: 2600px 2700px ;*/

    /*background: url("../photos/4603305_2453458.jpg") center;*/
    /*!*background-size: cover;*!*/


    /*background-size: 100%;*/
    /*background: url("../photos/trees.jpg") center;*/

    /*background: url("../photos/19747922_tawz_u63b_210816.jpg") center;*/
    /*background-size: 2600px 2700px ;*/
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #33372C;
    text-align: center;
}

article, section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 80%;
}

.containerAnimalType {
    display: inline-flex;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*padding: 40px;*/

    align-items: stretch;
    justify-content: center;

}
.animalTypeBlock {

    color: white;
    padding: 30px;
    margin: 10px;
    font-size: 1.5rem;
    border-radius: 5%;
    background-color: #557C56;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

 th, td {
     padding: 10px;
     text-align: center;
 }

th {
    background-color: #557C56;
    color: white;
}

tr {
    border-radius: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;

}

button {
    background-color: #557C56;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #33372C;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    color: #557C56;
    text-decoration: none;
    font-weight: bold;
}


/* start of footer*/
footer {
    padding: 20px;
    background: rgb(51,55,44);
    background: linear-gradient(0deg, rgba(51,55,44,1) 0%, rgba(85,124,86,1) 88%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-media-block{

    justify-content: center;
    text-align: center;
}

.social-media-block a  {
    padding: 10px;
    margin-top: 10px;
    align-items: center;
}
.social-media-block p {
    margin-bottom: 10px;
}

.social-media-block a :hover {
    filter: drop-shadow(3px 2px 2px rgb(201, 200, 200))
    drop-shadow(-3px -3px 4px rgba(221, 248, 221, 0.77))
    drop-shadow(2px 2px 2px rgba(246, 225, 246, 0.7));
}

.contact-block {
    text-align: center;
}


footer p {
    margin: 5px 5px;
}
/*end of footer*/

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding-bottom: 1px;

}

ul li{
    font-size: 1rem;
    color: #33372C;
    transition: color 0.3s ease;
    cursor: pointer;
    font-weight: bold;

}

ul li:hover {
    color: #557C56;
    font-weight: bolder;

}

.article-block{
    display: none;
}