* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #557C56;
}

.logo-header {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 100px;
    margin-right: 15px;
}

h1 {
    font-size: 2rem;
    color: white;
}

.main-logOut-btn {
    /*height: 50px;*/
    /*width: 150px;*/
    background: #33372C;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    font-size: 1rem;
    justify-items: center;
    font-weight: bold;
}

.main-logOut-btn:hover {
    background: #1b1e18;
}
