*{
    padding: 0;
    margin: 0;
}

body{
    /*background-color: #6A9C89;*/
}


header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #557C56;
    align-items: center;
}

h1 {
    text-align: center;
}

.logo-image {
    height: 150px;

}
.logo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-logIn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100px;
    background: #33372C;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin: 10px;
    text-decoration: none;

}
.main-logIn-btn:hover {
    background: #1b1e18;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-items : center;
    align-items: center;
    /*width: 50%;*/
    /*background-color: #FFE5CF;*/
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
