<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client-Wet</title>
    <link href="../static/styles/client.css" th:href="@{/styles/client.css}" rel="stylesheet">

    <script src="../static/scripts/scriptsMainPage.js" th:src="@{/scripts/scriptsMainPage.js}"></script>
    <script src="../static/scripts/clientScripts.js" th:src="@{/scripts/clientScripts.js}"></script>
    <link href="../static/styles/mainPage.css" rel="stylesheet" th:href="@{/styles/mainPage.css}">
</head>

<body>

<header>
    <div class="logo-header">
        <img class="logo-image" src="/photos/logo.png" th:href="@{/photos/logo.png}" alt="zdjecie weterynarza">
        <h1>Veterinary<br>Clinic</h1>
    </div>

    <div class = "btn-header-container">
        <a th:href="@{/logout}" class="logOut-btn">Log out</a>
    </div>
</header>

<div class="main-container">

    <nav>
        <ul>
            <li class="history-app-client" onclick="showClientOption('history-app-client')" >History of appointments</li>
            <li class="book-app-client" onclick="showClientOption('book-app-client')">Book a reservation</li>
            <li class="add-your-animal" onclick="showClientOption('add-your-animal')">Add animal</li>
        </ul>
    </nav>

    <section class="info-block" id="book-app-client-sec">
                  <h2>Rezerwacja  Usługi</h2>
                  <br>
                  <form method="post" action="/client/reservation" th:object="${appointmentBook}">

                      <label for="vet">Vet:</label>
                      <select id="vet" th:field="*{vetId}">
                          <option th:each="vet : ${vets}"   th:value="${vet.getId()}" th:text="${vet.user.firstName + ' ' + vet.user.lastName}" >Vet</option>
                      </select>


                      <label for="serviceType">Type of service:</label>
                      <select id="serviceType" th:field="*{serviceId}">
                          <option th:each="serviceType : ${servicesType}"   th:value="${serviceType.getId()}" th:text="${serviceType.getName()}" >Service type</option>
                      </select>

                      <label for="ourAnimal">Chose our animal:</label>
                      <select id="ourAnimal"  th:field="*{animalId}">
                          <option th:each="animal : ${userAnimals}"   th:value="${animal.getId()}" th:text="${animal.getName()}" >Animal</option>
                      </select>

                      <label for="data">data:</label>
                      <input th:field="*{appointmentDate}" id="data" type="datetime-local" required><br>

                      <label for="desc">Description:</label>
                      <input th:field="*{description}" id="desc" type="text" placeholder="Enter description"><br>

                      <label>
                          <input name="clientId"  th:value="${client.getId()}" type="hidden">
                      </label>

                      <button type="submit">Register</button>
                  </form>
    </section>

    <section class="info-block" id="history-app-client-sec">
        <h2>History of Appointments</h2>
        <div class="appointment-history-container">
            <div th:each="appointment : ${appointments}" th:classappend="${appointment.status == 'canceled' ? 'canceled-card' : 'completed-card'}" class="appointment-card">
                <div class="appointment-header">
                    <p th:text="'Date: ' + ${#temporals.format(appointment.appointmentDate, 'dd MMM yyyy HH:mm')}"></p>
                    <p th:text="'Status: ' + ${appointment.status}"></p>
                </div>
                <div class="appointment-body">
                    <p><strong>Type:</strong> <span th:text="${appointment.animal.animalType.type}"></span></p>
                    <p><strong>Name:</strong> <span th:text="${appointment.animal.name}"></span></p>
                    <p><strong>Doctor:</strong> <span th:text="${appointment.vet.user.firstName} + ' ' + ${appointment.vet.user.lastName}"></span></p>
                    <p><strong>Service:</strong> <span th:text="${appointment.service.name}"></span></p>
                    <p><strong>Price:</strong> <span th:text="${appointment.service.price}"></span></p>
                </div>
            </div>
        </div>


    </section>

    <section class="info-block" id="add-your-animal-sec">
        <h2>Add Your pet</h2>

        <form method="post" action="/client/registerAnimal" th:object="${animalRegister}">
            <label for="registerType">Type:</label>
            <select id="registerType" th:field="*{typeId}">
                <option th:each="type : ${animalsType}"   th:value="${type.id}" th:text="${type.type}">Type</option>
            </select>

            <label for="animalNameRegister">Animal name:</label>
            <input th:field="*{name}" id="animalNameRegister" type="text" placeholder="Enter animal name">

            <label>
                <input  name="clientId"  th:value="${client.getId()}" th:placeholder="${client.getId()}" type="hidden">
            </label>

            <button type="submit">Add</button>
        </form>
    </section>
</div>
<footer th:replace="~{fragments :: main-footer}"></footer>
</body>
</html>