<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client-Wet</title>
    <link href="../static/styles/client.css" th:href="@{/styles/client.css}" rel="stylesheet">

<!--    <script src="../static/scripts/scriptsMainPage.js" th:src="@{/scripts/scriptsMainPage.js}"></script>-->
<!--    <link href="../static/styles/mainPage.css" rel="stylesheet" th:href="@{/styles/mainPage.css}">-->
</head>

<body>

<header>
    <div class="logo-header">
        <img class="logo-image" src="/photos/logo.png" th:href="@{/photos/logo.png}" alt="zdjecie weterynarza">
        <h1>Przychodnia <br> weterynaryjna</h1>
    </div>

    <div class = "btn-header-container">
        <a th:href="@{/home}" class="logOut-btn">Log out</a>
    </div>
</header>

<main>

    <nav>
        <ul>
            <li>History of reservation</li>
            <li>Book a reservation</li>
        </ul>
    </nav>




                <section class="reservation-block">
                  <h2>Rezerwacja  Usługi</h2>
                  <br>
                  <form method="post">
                      <label for="typ">Typ usługi:</label>
                      <input id="typ" type="text"><br>
                      <label for="zwierze">Typ zwierzecia:</label>
                      <input id="zwierze" type="text"><br>
                      <label for="data">data:</label>
                      <input id="data" type="date"><br>
                      <button type="submit">Rezerwuj</button>
                  </form>
              </section>
</main>
<!--<main th:replace="~{fragments :: main-Page-Content}"></main>-->





</body>
</html>