<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/styles/mainPage.css" rel="stylesheet" th:href="@{/styles/mainPage.css}">
    <title>Wet</title>
</head>
<body>
  <header>

        <div class="logo-header">
            <img class="logo-image" src="/photos/logo.png" th:href="@{/photos/logo.png}" alt="zdjecie weterynarza">
            <h1>Przychodnia <br> weterynaryjna</h1>
        </div>

    <a th:href="@{/home/loginView}" class="main-logIn-btn">Log in</a>

  </header>


  <main>
      <article>
          <h2>O naszej działalności</h2>
          <p>informacje o działalności przychodni</p>
      </article>

      <section>
          <h2>Animals we service</h2>
          <div class="containerAnimalType" th:each="type : ${animalsType}" >
              <p class="animalTypeBlock" th:text="${type}" > dog </p>
          </div>

      </section>

      <section>
          <h2>Usługi</h2>
          <table>
              <tr>
                  <th>Nazwa</th>
                  <th>Cena</th>
              </tr>
              <tr>
                  <td>Usg</td>
                  <td>320zł</td>
              </tr>
              <tr>
                  <td>Szczepienie</td>
                  <td>100zł</td>
              </tr>
              <tr>
                  <td>Kontrol</td>
                  <td>50zł</td>
              </tr>

          </table>
      </section>

      <section>
          <h2>Rezerwacja  Usługi</h2>
          <br>
          <form method="post">
              <label for="typ">Typ usługi:</label>
              <input id="typ" type="text"><br>
              <label for="zwierze">Typ zwierzecia:</label>
              <input id="zwierze" type="text"><br>
              <label for="data">data</label>
              <input id="data" type="date"><br>
              <button type="submit">Rezerwuj</button>
          </form>
          <a href="client.html" target="_blank"> twoje rezerwacje</a>
      </section>

      <section>
          <h3>Warto przeczytać</h3>
          <ul>
              <li><a href="">Najgorsze choroby u zierząt w 2024</a></li>
              <li><a href="">Jak pomóc zwierzetom w zime</a></li>
          </ul>
      </section>


  </main>




<footer>
    <h3>Kontakt</h3>
    <p>email: <strong>przychodnia1@wp.pl</strong> </p>
    <p> tel:  <strong>123-123-123</strong> </p>
</footer>
</body>
</html>