<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../static/scripts/scriptsMainPage.js" th:src="@{/scripts/scriptsMainPage.js}"></script>
    <link href="../static/styles/mainPage.css" rel="stylesheet" th:href="@{/styles/mainPage.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono|Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">

    <title>Wet</title>
</head>
<body>
  <header>

      <div class="logo-header">
          <img class="logo-image" src="/photos/logo.png" th:href="@{/photos/logo.png}" alt="zdjecie weterynarza">
          <h1>Veterinary <br> Clinic</h1>
      </div>
      <div  class = "btn-header-container">
          <a  th:href="@{/home/register-page}"  class="main-SingIn-btn">Sign in</a>
          <a  th:href="@{/home/login-page}" class="main-logIn-btn">Log in</a>
      </div>

  </header>

  <div id="toast" th:if="${message}" class="toast" th:text="${message}"></div>


  <main th:replace="~{fragments :: main-Page-Content}"></main>


<footer th:replace="~{fragments :: main-footer}">
</footer>
</body>
</html>