<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
<!--  <link href="../static/styles/loginPage.css" th:href="@{/styles/login.css}" rel="stylesheet">-->
  <link rel="stylesheet" href="../static/styles/loginPage.css"  th:href="@{/styles/loginPage.css}">
  <title>Login</title>
</head>
<body>
<header>

  <h1> Logowanie do przychodni weterynaryjnej </h1>

</header>


<section class="login-section">

  <form class="formForLogin" method="post" action="/home/logIn" th:object="${logInDto}">

    <div class="login-list">
      <input th:field="*{role}" id="client" type="radio" name="role" value="client" class="tochange" required>
      <label for="client" class="label-type">Client</label>
      <input th:field="*{role}" id="vet" type="radio" name="role" value="vet" class="tochange" required>
      <label for="vet" class="label-type">Vet</label>
    </div>


    <label for="emailInput">Email</label>
    <p th:errors="*{email}">Errors of someObjectField</p>
    <input th:field="*{email}" id="emailInput" name="emailInput" type="email" placeholder="Enter Email"  required/>
    <label for="loginPasswordInput">Password</label>
    <input th:field="*{password}" id="loginPasswordInput" name="loginPasswordInput" type="password" placeholder="Enter Password" required/>
    <p th:errors="*{password}">Errors of someObjectField</p>

    <a>Create account</a>

    <button type="submit" id="loginSubmitButton">Log in</button>

    <input type="hidden" id="roleInput" name="role" value="">

  </form>

</section>

</body>
</html>