<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
<!--  <link href="../static/styles/loginRegister.css" th:href="@{/styles/login.css}" rel="stylesheet">-->
  <link rel="stylesheet" href="../static/styles/loginRegister.css" th:href="@{/styles/loginRegister.css}">
  <title>Login</title>
</head>
<body>
<header>

  <div class="logo-header">
    <img class="logo-image" src="/photos/logo.png" th:href="@{/photos/logo.png}" alt="zdjecie weterynarza">
    <h1>Veterinary <br> Clinic</h1>
  </div>
  <h1>Login</h1>
</header>


<section class="form-section">

  <form class="form-L-R" method="post" action="/home/login" th:object="${logInDto}">

    <div class="role-list">
      <input th:field="*{role}" id="client" type="radio" name="role" value="client" class="tochange" required>
      <label for="client" class="label-type">Client</label>
      <input th:field="*{role}" id="vet" type="radio" name="role" value="vet" class="tochange" required>
      <label for="vet" class="label-type">Vet</label>
      <p th:errors="*{role}">Errors of someObjectField</p>

    </div>


    <label for="emailInput">Email</label>
    <input th:field="*{email}" id="emailInput" name="emailInput" type="email" placeholder="Enter Email"  required/>
    <p th:errors="*{email}">Errors</p>

    <label for="loginPasswordInput">Password</label>
    <input th:field="*{password}" id="loginPasswordInput" name="loginPasswordInput" type="password" placeholder="Enter Password" required/>
    <p th:errors="*{password}">Errors</p>

    <a th:href="@{/home/register-Page}">Create account</a>

    <button class="submitBtn" type="submit" id="loginSubmitBtn">Log in</button>

  </form>

</section>

</body>
</html>