<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
<!--  <link href="../static/styles/loginPage.css" th:href="@{/styles/login.css}" rel="stylesheet">-->
  <link href="../styles/loginPage.css" rel="stylesheet">
  <title>Login</title>
</head>
<body>
<header>

  <h1> Logowanie do przychodni weterynaryjnej </h1>

</header>


<section class="login-section">

  <form class="formForLogin" method="post">

    <ul class="login-list">
      <li> <input type="button" name="klient-type"  value="Klient" class="tochange"> </li>
      <li> <input type="button" name="doktor-type" value="Doktor" class="tochange"> </li>
    </ul>


    <label for="emailInput">email</label>
    <input id="emailInput" name="emailInput" type="email" value="Wprowadz email" />
    <label for="loginPasswordInput">hasło</label>
    <input id="loginPasswordInput" name="loginPasswordInput" type="password"  />


    <input type="hidden" id="roleInput" name="role" value="">

    <button type="submit" id="loginSubmitButton">Zaloguj się</button>

  </form>

</section>

</body>
</html>